#map-map {
  height : 90vh !important;
}

#file_report {
  color: #337ab7;
}

.valid{
  color: #34c369;
  font-size: 1.1em;
}

.invalid {
  color: #f03561;
  font-size: 1.1em;
}

#img_warning {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#msg_warning {
  color: #f03561;
  font-size: 1.8em;
  text-align: center;
}

#report_html {
  max-height: 900px!important;
}

#iframe_report {
  height: 90vh;
}

#footer {
  width: 100%;
}

#footer_left {
  width: 16%;
  display:inline-table;
}

#footer_right {
  width: 84%;
  display:inline-table;
  text-align: center;
}

