#map-map {
  height : 90vh !important;
}

#file_report {
  color: #337ab7;
}

.valid, #valid_details, #created_from_map {
  color: #34c369;
  font-size: 1.2em;
}

.invalid, #invalid_details, #created_from_map_not {
  color: #b83343;
  font-size: 1.2em;
}

